body {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

#main-nav {
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    position: fixed;
    z-index: 2;
    padding: 20px;
    margin-bottom: 20px;
}

.site-logo {
    font-size: 1.2em;
    font-weight: bold;
    color: #B8860B;
}

#mainNavBar li {
    font-size: 1.2em;
}

#content-container {
    margin-top: 100px;
}

#content-container p {
    font-size: 1.5em;
}

.carousel-control.left,
.carousel-control.right {
    opacity:100;
}

#mainCarousel .item {
    min-height: 280px;
}

#mainCarousel .item img {
    width: 100%;
    height: 700px;
}

.section-container {
    margin-top: 50px;
}

.section-header {
    color: #B8860B;
    font-weight: bold;
    font-size: 2.5em;
    margin-bottom: 30px;
}

.product-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.product-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.product-card img {
    height: 400px;
    border-radius: 5px 5px 0 0;
}

.product-card .product-description {
    padding: 30px;
    background: #FFFFFF !important;
}

.product-card .product-description p {
    font-size: 0.8em;
}

.recent-container img {
    width: 100%;
}

.recent-container h3, .product-card h3 {
    color: #B8860B;
}

.marginated {
    margin-top: 10px;
}

.sidebar li{
    list-style-type: none;
    padding: 5px;
    font-size: 1.2em;
}

.sidebar li a {
    color: grey;
}

.site-footer {
    margin-top: 200px;
}

